<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Place Details</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="icon" type="image/png" href="/static/images/icon.png">
</head>
<body>
    <header class="header" data-section-theme="light">
        <div class="container">
          <div class="logo">
            <a href="/">
              <img src="/static/images/logo.png" alt="hbnb logo" width="160" height="40">
            </a>
          </div>
          <nav class="navbar-menu">
            <ul class="nav">
              <li class="nav-item">
                <a href="/" class="nav-link">Index</a>
              </li>
              <li class="nav-item">
                <a href="/place" class="nav-link active">Place</a>
              </li>
              <li class="nav-item">
                <a href="/login" class="nav-link">Login</a>
              </li>
            </ul>
          </nav>
        </div>
    </header>
    <main>
        <div class="vertical-align">
            <section id="place-details" >
                <!-- Place details will be populated here -->
            </section>
            <section id="reviews" class="review-card">
                <h2>Reviews</h2>
                <div id="review-list">
                    <!-- Reviews will be populated here -->
                </div>
            </section>
            <section id="add-review">
                <h2>Add a Review</h2>
                <form id="review-form">
                    <label for="review-text">Review:</label>
                    <textarea id="review-text" name="review-text" required></textarea>
                    
                    <button type="submit">Submit</button>
                </form>
            </section>
        </div>
    </main>
    <footer class="footer" data-section-theme="light">
        <div class="container">
          <p>&copy; 2024 HBnB. All rights reserved.</p>
        </div>
    </footer>
    <script src="/static/fetch_place_details.js"></script>
</body>
</html>
